* {
    background-color: aliceblue;
}
p {
    font-size: larger;
    background-color: black;
    color: snow;
    font-family: sans-serif;
    line-height: 1.75em;
    border: 3px solid green;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: yellowgreen;
    border: 3px solid darkgreen;
}

i {
    font-family: sans-serif;
    color: orange;
    border: 3px solid gold;
}